<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>PaMonchar</title>
    </head>
    <body>

        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
            <form action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-block"
                    style="font-family:fantasy ;font-size: 24px; color: #000000;
                    color: #000000;"
                    onmouseover="this.style.color = '#ffffff ';" 
                    onmouseout="this.style.color = '#000000';">
                    <i class="fas fa-shopping-cart" ></i>
                    [[#{carrito.verCarrito}]] [[${listaTotal}]]
                </button>
            </form>
        </div>


        <section th:fragment="listadoCarrito" id="items">
            <div><h1> ㅤ</h1></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="card shadow-lg" style="background-color: #f8f4e8; border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000; font-weight: bold; ">
                            <div class="card-header text-white text-center" style="background-color:#593f28;">
                                <h4><i class="fas fa-shopping-cart"></i> [[#{carrito.titulo}]]</h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-bordered table-hover">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th style="background-color: #f8f4e8;">#</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.descripcion}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.precio}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{carrito.cantidad}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{carrito.total}]]</th>
                                            <th style="background-color: #f8f4e8;"></th>
                                            <th style="background-color: #f8f4e8;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td style="background-color: #f8f4e8;">[[${contador.count}]]</td>
                                            <td style="background-color: #f8f4e8;">[[${item.descripcion}]]</td>
                                            <td class="text-end" style="background-color: #f8f4e8;">[[${item.precio}]]</td>
                                            <td class="text-center" style="background-color: #f8f4e8;">[[${item.cantidad}]]</td>
                                            <td class="text-end" style="background-color: #f8f4e8;">[[${item.cantidad * item.precio}]]</td>
                                            <td style="background-color: #f8f4e8;">
                                                <a th:href="@{/carrito/eliminar/}+${item.idProducto}" class="btn btn-danger btn-sm">
                                                    <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td >
                                            <td style="background-color: #f8f4e8;">
                                                <a th:href="@{/carrito/modificar/}+${item.idProducto}" class="btn btn-success btn-sm">
                                                    <i class='fas fa-sync'></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items == null or items.empty}">
                                <span class="text-muted">[[#{carrito.no_mostrar}]]</span>
                            </div>
                        </div>
                    </div>

                    <div><h1> ㅤ</h1></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <!-- Cuadro de Total Compra -->
                                <div class="card text-center bg-white text-black mb-3 shadow-sm">
                                    <div class="card-body" style="background-color: #f8f4e8; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000;">
                                        <h3>[[#{carrito.totalCompra}]]</h3>
                                        <h4 class="fs-4"><i class="fas fa-shopping-cart" style="color: black;"></i> [[${carritoTotal}]]</h4>
                                    </div>
                                </div>
                                <!-- Botón de Seguir Comprando -->
                                <div class="card text-center bg-white text-black mb-3 shadow-sm">
                                    <div class="card-body" style="background-color: #f8f4e8; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000;">
                                        <a th:href="@{/pruebas/listado}" class="btn btn-block" style="background-color: #f8f4e8; color: black; font-weight: bold;">
                                            <i class='fas fa-left-long'></i> [[#{carrito.seguirComprando}]]
                                        </a>
                                    </div>
                                </div>
                                <!-- Botón de Facturar -->
                                <div class="card text-center bg-white text-black mb-3 shadow-sm">
                                    <div class="card-body" style="background-color: #f8f4e8; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000;">
                                        <a th:href="@{/facturar/carrito}" class="btn btn-block" style="background-color: #f8f4e8; color: black; font-weight: bold;">
                                            <i class='fas fa-receipt'></i> [[#{carrito.facturar}]]
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="modificaItem">
            <div class="row justify-content-start">
                <div class="col-md-3">
                    <div class="col-md-4 d-grid">
                        <div class="card-body">
                            <a th:href="@{/carrito/listado}" class="btn btn-block" style="background-color: #f8f4e8; color: black; font-weight: bold;">
                                <i class='fas fa-reply'></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card shadow-lg" style="background-color: #f8f4e8;">
                            <div class="card-header text-white text-center" style="background-color:#593f28;" >
                                <h4><i class="fas fa-info-circle"></i> [[#{carrito.datos}]]</h4>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">[[${item.descripcion}]]</h5>
                                <h6 class="card-subtitle mb-2 text-muted text-end">
                                    [[${item.precio}+' ('+${item.existencias}+')']]
                                </h6>
                                <p class="card-text">[[${item.detalle}]]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6" >
                        <div class="card shadow-lg" style="background-color: #f8f4e8;">
                            <div class="card-body text-center">
                                <figure><img th:src="@{${item.rutaImagen}}" width="260" class="img-fluid"/></figure>
                                <form th:action="@{/carrito/guardar}" method="post" th:object="${item}" class="was-validated">
                                    <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                                    <div class="mb-3">
                                        <label for="cantidad" class="form-label"><i class="fas fa-box"></i> [[#{carrito.cantidad}]]:</label>
                                        <input type="number" name="cantidad" th:field="*{cantidad}" min="1" th:max="${item.existencias}" class="form-control" required/>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-success btn-block" type="submit" name="guardar">
                                            <i class='fas fa-save'></i> [[#{accion.guardar}]]
                                        </button>
                                    </div>
                                </form>
                                <a th:href="@{/carrito/eliminar/}+${item.idProducto}" class="btn btn-danger btn-block">
                                    <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </body>
</html>