<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>PaMonchar</title>
    </head>
    <body>

        <!-- 2 Fragmento para agregar usuario, es la ventana modal -->
        <section th:fragment="agregarUsuario">
            <div><h1>ㅤ</h1></div>
            <div id="agregarUsuario" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: black; color: white;">
                            <h5 class="modal-title"><i class="fas fa-plus-circle" style="color: white;"></i> [[#{usuario.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:#ff0000;"></button>
                        </div>
                        <form th:action="@{/usuario/guardar}" th:object="${usuario}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">[[#{usuario.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="apellidos" class="form-label">[[#{usuario.apellidos}]]</label>
                                    <input type="text" class="form-control" name="apellidos" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label"><i class="fas fa-user"></i>[[#{usuario.username}]]</label>
                                    <input type="text" class="form-control" name="username" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label"><i class="fas fa-envelope"></i> [[#{usuario.correo}]]</label>
                                    <input type="email" class="form-control" name="correo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono" class="form-label"><i class="fas fa-phone"></i> [[#{usuario.telefono}]]</label>
                                    <input type="tel" class="form-control" name="telefono"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label"><i class="fas fa-lock"></i> [[#{usuario.password}]]</label>
                                    <input type="password" class="form-control" name="password" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen" class="form-label"><i class="fas fa-image"></i> [[#{usuario.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" class="img-fluid mt-2" style="display: none;"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!-- 3 Sección principal para mostrar la informaccion de la entidad usuario -->
        <section th:fragment="listadoUsuarios" id="usuarios">
            <div class="container">
                <div class="row">
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <div class="card shadow-lg">
                                <div class="card-header text-white text-center" style="background-color:#161616;">
                                    <h4><i class="fas fa-list"></i> [[#{usuario.listado}]]</h4>
                                </div>
                                <div th:if="${usuarios != null and !usuarios.empty}">
                                    <table class="table table-bordered table-hover">
                                        <thead class="bg-dark text-white">
                                            <tr>
                                                <th>#</th>
                                                <th>[[#{usuario.username}]]</th>
                                                <th>[[#{usuario.nombre}]]</th>
                                                <th>[[#{usuario.apellidos}]]</th>
                                                <th>[[#{usuario.imagen}]]</th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="usuario, contador : ${usuarios}">
                                                <td>[[${contador.count}]]</td>
                                                <td>[[${usuario.username}]]</td>
                                                <td>[[${usuario.nombre}]]</td>
                                                <td>[[${usuario.apellidos}]]</td>
                                                <td><img th:src="@{${usuario.rutaImagen}}" alt="your image" height="40"/></td>
                                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                    <a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                    </a>
                                                    <a th:href="@{/usuario/modificar/}+${usuario.idUsuario}" class="btn btn-success btn-sm">
                                                        <i class="fas fa-sync"></i> [[#{accion.actualizar}]]
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center p-2" th:if="${usuarios == null or usuarios.empty}">
                                    <span class="text-muted">[[#{lista.vacia}]]</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2>ㅤ</h2>
                    </div>
                    <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <!-- Botón de Agregar Usuario -->
                                <div class="card text-center" style="background-color: #f8f4e8; color: black; margin-bottom: 1rem;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000;">
                                    <div class="card-body">
                                        <button 
                                            type="button" 
                                            class="btn btn-block" 
                                            style="background-color: #f8f4e8; color: black; font-weight: bold;"
                                            data-bs-toggle="modal" 
                                            data-bs-target="#agregarUsuario">
                                            <i class="fas fa-plus"></i> [[#{usuario.agregar}]]
                                        </button>
                                    </div>
                                </div>
                                <!-- Cuadro de Total Usuarios -->
                                <div class="card text-center" style="background-color: #f8f4e8; color: black; margin-bottom: 1rem;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000;">
                                    <div class="card-body">
                                        <h3>[[#{usuario.total}]]</h3>
                                        <h4 class="fs-2"><i class="fas fa-users" style="color: black;"></i> [[${totalUsuarios}]]</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarUsuario">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="POST" th:action="@{/usuario/guardar}" th:object="${usuario}" class="was-validated" enctype="multipart/form-data">
                        <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                        <section th:replace="~{usuario/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card shadow-lg">
                                            <div class="card-header bg-dark text-white text-center">
                                                <h4><i class="fas fa-edit"></i> [[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre" class="form-label"><i class="fas fa-user"></i> [[#{usuario.nombre}]]</label>
                                                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="apellidos" class="form-label"><i class="fas fa-user"></i> [[#{usuario.apellidos}]]</label>
                                                    <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email" class="form-label"><i class="fas fa-envelope"></i> [[#{usuario.correo}]]</label>
                                                    <input type="email" class="form-control" name="correo" th:field="*{correo}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="telefono" class="form-label"><i class="fas fa-phone"></i> [[#{usuario.telefono}]]</label>
                                                    <input type="tel" class="form-control" name="telefono" th:field="*{telefono}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen" class="form-label"><i class="fas fa-image"></i> [[#{usuario.imagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="your image" class="img-fluid mt-2"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>


        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4" style="background-color: #f8f4e8;">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/usuario/listado}" class="btn text-white" style="background-color: #000000; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem;">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">                                
                        <a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}" class="btn btn-danger text-white" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem;">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="btn btn-success" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem;">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
