<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/" th:href="@{/}">Inicio</a></li>
                    <li><a href="/ofertas" th:href="@{/ofertas}">Ofertas</a></li>
                    <li><a href="/productos" th:href="@{/productos}">Productos</a></li>
                  
                </ul>
            </nav>
        </header>
        <h1>Hola Mundo</h1>
        <h2>Prueba</h2>
    </body>
</html>
