<!DOCTYPE html>
<html lang="es">

<head>
    <title>La Zompopa</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:fragment="header">
        <header>
            <main class="flex-shrink-0">

                <nav class="navbar navbar-expand-lg py-3"
                    style="background: linear-gradient(to right, #9e754f,#8a4d35 ); height: 110px; display: flex; justify-content: center; align-items: center;">
                    <div class="container px-5" style="font-family:fantasy">
                        <a class="navbar-brand" href="/" th:href="@{/}"><span class="fw-bolder "
                                style="font-size: 40px; color: #000000;">La Zompopa</span></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">

                                <li class="nav-item px-2" style="font-family:fantasy; font-size: 24px;">
                                    <a class="nav-link" href="/categorias" th:href="@{/categorias}"
                                        style="color: #000000;" onmouseover="this.style.color = '#ffffff ';"
                                        onmouseout="this.style.color = '#000000';">
                                        <i class="fa-solid fa-mug-saucer"></i> Categorias
                                    </a>
                                </li>

                                <li class="nav-item px-2" style="font-family:fantasy; font-size: 24px;">
                                    <a class="nav-link" href="/productos" th:href="@{/productos}"
                                        style="color: #000000;" onmouseover="this.style.color = '#ffffff ';"
                                        onmouseout="this.style.color = '#000000';">
                                        <i class="fa-solid fa-mug-hot"></i> Productos
                                    </a>
                                </li>

                                <li class="nav-item px-2" style="font-family:fantasy; font-size: 24px;">
                                    <a class="nav-link" href="/ofertas" th:href="@{/ofertas}" style="color: #000000;"
                                        onmouseover="this.style.color = '#ffffff ';"
                                        onmouseout="this.style.color = '#000000';">
                                        <i class="fas fa-cart-arrow-down"></i></i> Ofertas
                                    </a>
                                </li>

                                <li class="nav-item px-2" style="font-family:fantasy; font-size: 24px;">
                                    <a class="nav-link" href="/roles" th:href="@{/roles}" style="color: #000000;"
                                        onmouseover="this.style.color = '#ffffff ';"
                                        onmouseout="this.style.color = '#000000';">
                                        <i class="fas fa-user-tag"></i> Roles
                                    </a>
                                </li>

                                <li class="nav-item px-2" style="font-family:fantasy; font-size: 24px;">
                                    <a class="nav-link" href="/usuarios" th:href="@{/usuarios}" style="color: #000000;"
                                        onmouseover="this.style.color = '#ffffff ';"
                                        onmouseout="this.style.color = '#000000';">
                                        <i class="fas fa-users"></i> Usuarios
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </main>
        </header>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://2trendies.com/hero/2023/04/pizzapepperoni.jpg?width=768&aspect_ratio=16:9&format=nowebp"
                    class="d-block w-100" alt="Imagen 1" style="width: 100%; height: 600px; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Pizzas</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://st1.uvnimg.com/dims4/default/5102fb0/2147483647/thumbnail/1024x576%3E/quality/75/?url=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fimj%2Felgranchef%2Fc%2Fcomo-hacer-aros-de-cebolla-fritos-1.jpg"
                    class="d-block w-100" alt="Imagen 1" style="width: 100%; height: 600px; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Acompañamientos</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.clubfamilias.com/sites/default/files/styles/wysiwyg/public/wysiwyg/Refrescos-light.jpg?itok=BQMC_AOV"
                    class="d-block w-100" alt="Imagen 1" style="width: 100%; height: 600px; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Refrescos</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <!-- Card 1 -->
            <div class="col">
                <div class="card h-100">
                    <img src="https://1.bp.blogspot.com/-_le-afCT-J8/XptKWtm_NpI/AAAAAAAAS_o/CWjTdep9Be0irQ56Ux2DucvKet1sq-9TwCLcBGAsYHQ/s1600/12.jpg"
                        class="d-block w-100" alt="Imagen 1" style="width: 100%; height: 400px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Pizza de Piña</h5>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col">
                <div class="card h-100">
                    <img src="https://th.bing.com/th/id/OIP.bb665sPR3L8Unv1ayGsgagHaE8?rs=1&pid=ImgDetMain"
                        class="d-block w-100" alt="Imagen 1" style="width: 100%; height: 400px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Papas Fritas</h5>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.recetasnestlecam.com/sites/default/files/srh_recipes/37a2f74bee3c440b17ae1b63f44dc864.jpg"
                        class="d-block w-100" alt="Imagen 1" style="width: 100%; height: 400px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Alitas</h5>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col">
                <div class="card h-100">
                    <img src="https://recetinas.com/wp-content/uploads/2017/07/calzone-italiana.jpg"
                        class="d-block w-100" alt="Imagen 1" style="width: 100%; height: 400px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Calzone</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:fragment="footer" class="bg-dark text-white p-2 text-center" style="margin-top: 52px">
        <h2>Contáctanos</h2>
        <h4>+506 8745 2819</h4>
        <div style="margin: 10px 0;">
            <i class="fa-brands fa-facebook fa-xl" style="color: #0058f0; margin: 0 10px;"></i>
            <i class="fa-brands fa-instagram fa-xl" style="color: #b00303; margin: 0 10px;"></i>
            <i class="fa-brands fa-x-twitter fa-xl" style="color: #ffffff; margin: 0 10px;"></i>
            <i class="fa-brands fa-whatsapp fa-xl" style="color: #28e901; margin: 0 10px;"></i>
        </div>
        <p style="margin-top: 8px">© La Zompopa Todos los Derechos Reservados</p>
    </footer>
</body>

</html>