<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>PaMonchar</title>
    </head>
    <body>
        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="agregarProducto">
            <div><h1>ㅤ</h1></div>
            <div id="agregarProducto" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #593f28; color: white;">
                            <h5 class="modal-title"><i class="fas fa-plus-circle" style="color: white;"></i> [[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:#ff0000;"></button>
                        </div>
                        <form th:action="@{/producto/guardar}" th:object="${producto}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body" style="background-color: #f8f4e8;">
                                <div class="mb-3">
                                    <label for="idCategoria" class="form-label"><i class="fas fa-tag"></i> [[#{producto.categoria}]]</label>
                                    <select name="categoria.idCategoria" class="form-select">
                                        <option th:each="c : ${categorias}" th:value="${c.idCategoria}">[[${c.descripcion}]]</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion" class="form-label"><i class="fas fa-tag"></i> [[#{producto.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="detalle" class="form-label"><i class="fas fa-info-circle"></i> [[#{producto.detalle}]]</label>
                                    <textarea class="form-control" rows="3" name="detalle"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="precio" class="form-label"><i class="fas fa-dollar-sign"></i> [[#{producto.precio}]]</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="existencias" class="form-label"><i class="fas fa-boxes"></i> [[#{producto.existencias}]]</label>
                                    <input type="number" class="form-control" name="existencias" required="true"/>
                                </div>
                                <div class="mb-3 form-check">
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                    <label class="form-check-label" for="activo"><i class="fas fa-check-circle"></i> [[#{producto.activo}]]</label>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen" class="form-label"><i class="fas fa-image"></i> [[#{producto.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" class="img-fluid mt-2" style="display: none;"/>
                                </div>
                            </div>
                            <div class="modal-footer" style="background-color: #f8f4e8;">
                                <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="card shadow-lg" style="background-color: #f8f4e8; border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000; font-weight: bold; ">
                            <div class="card-header text-white text-center" style="background-color:#593f28;">
                                <h4><i class="fas fa-list"></i> [[#{producto.listado}]]</h4>
                            </div>
                            <div th:if="${productos != null and !productos.empty}" style="background-color: #f8f4e8;">
                                <table class="table table-bordered table-hover" >
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th style="background-color: #f8f4e8;">#</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.descripcion}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.precio}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.existencias}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.total}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.categoria}]]</th>
                                            <th style="background-color: #f8f4e8;">[[#{producto.activo}]]</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')" style="background-color: #f8f4e8;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="producto : ${productos}">
                                            <td style="background-color: #f8f4e8;">[[${producto.idProducto}]]</td>
                                            <td style="background-color: #f8f4e8;">[[${producto.descripcion}]]</td>
                                            <td style="text-align: end; background-color: #f8f4e8;">[[${producto.precio}]]</td>
                                            <td style="text-align: center; background-color: #f8f4e8;">[[${producto.existencias}]]</td>
                                            <td style="text-align: end; background-color: #f8f4e8;">[[${producto.precio * producto.existencias}]]</td>
                                            <td style="background-color: #f8f4e8;">[[${producto.categoria.descripcion}]]</td>
                                            <td th:text="${producto.activo} ? 'Activa' : 'Inactiva'" style="background-color: #f8f4e8;"></td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')"style="background-color: #f8f4e8;">
                                                <a th:href="@{/producto/eliminar/}+${producto.idProducto}" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                                <a th:href="@{/producto/modificar/}+${producto.idProducto}" class="btn btn-success btn-sm">
                                                    <i class="fas fa-sync"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span class="text-muted">[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2>ㅤ</h2>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <!-- Botón de Agregar Producto -->
                                <div class="card text-center bg-white text-black mb-3 shadow-sm">
                                    <div class="card-body" style="background-color: #f8f4e8; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000;">
                                        <button 
                                            sec:authorize="hasRole('ROLE_ADMIN')"
                                            type="button" 
                                            class="btn btn-block" 
                                            style="background-color: #f8f4e8; color: black; font-weight: bold;"
                                            data-bs-toggle="modal" 
                                            data-bs-target="#agregarProducto">
                                            <i class="fas fa-plus"></i> [[#{producto.agregar}]]
                                        </button>
                                    </div>
                                </div>
                                <!-- Cuadro de Total Productos -->
                                <div class="card text-center bg-white text-black mb-3 shadow-sm">
                                    <div class="card-body" style="background-color: #f8f4e8; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem; color: #000;">
                                        <h3>[[#{producto.total}]]</h3>
                                        <h4 class="fs-2"><i class="fas fa-bell-concierge" style="color: black;"></i> [[${totalProductos}]]</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarProducto">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="POST" th:action="@{/producto/guardar}" th:object="${producto}" class="was-validated" enctype="multipart/form-data">
                        <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{producto/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card shadow-lg">
                                            <div class="card-header" style="background-color: #593f28; color: white;">
                                                <h4><i class="fas fa-edit"></i> [[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body" style="background-color: #f8f4e8;">
                                                <div class="mb-3">
                                                    <label for="idCategoria" class="form-label"><i class="fas fa-tag"></i> [[#{producto.categoria}]]</label>
                                                    <select name="categoria.idCategoria" th:field="*{categoria.idCategoria}" class="form-select">
                                                        <option th:each="c : ${categorias}" th:value="${c.idCategoria}">[[${c.descripcion}]]</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion" class="form-label"><i class="fas fa-tag"></i> [[#{producto.descripcion}]]</label>
                                                    <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="detalle" class="form-label"><i class="fas fa-info-circle"></i> [[#{producto.detalle}]]</label>
                                                    <textarea class="form-control" rows="3" name="detalle" th:field="*{detalle}"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio" class="form-label"><i class="fas fa-dollar-sign"></i> [[#{producto.precio}]]</label>
                                                    <input type="number" class="form-control" name="precio" th:field="*{precio}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="existencias" class="form-label"><i class="fas fa-boxes"></i> [[#{producto.existencias}]]</label>
                                                    <input type="number" class="form-control" name="existencias" th:field="*{existencias}" required="true"/>
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <input class="form-check-input" type="checkbox" name="activo" id="activo" th:field="*{activo}">
                                                        <label class="form-check-label" for="activo"><i class="fas fa-check-circle"></i> [[#{producto.activo}]]</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen" class="form-label"><i class="fas fa-image"></i> [[#{producto.imagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${producto.rutaImagen}}" alt="your image" class="img-fluid d-block mx-auto mt-4"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4" style="background-color: #f8f4e8;">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn text-white" style="background-color: #000000; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem;">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                           class="btn btn-danger text-white" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem;">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); border-radius: 0.375rem;">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>