<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>PaMonchar</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container my-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-lg border-0 rounded-lg bg-dark text-white">
                        <div class="card-header bg-warning text-black text-center py-4">
                            <h2 class="mb-0"><i class="fas fa-sign-in-alt"></i> [[#{login.login}]]</h2>
                        </div>
                        <div class="card-body p-4">
                            <form method="POST" th:action="@{/login}">
                                <div class="form-group mb-3">
                                    <label for="username" class="form-label"><i class="fas fa-user-lock"></i> [[#{login.username}]]:</label>
                                    <input class="form-control" type="text" name="username" id="username" required/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password" class="form-label"><i class="fas fa-key"></i> [[#{login.password}]]:</label>
                                    <input class="form-control" type="password" name="password" id="password" required/>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-light btn-block text-dark" type="submit">
                                        <i class="fas fa-sign-in-alt"></i> [[#{login.login}]]
                                    </button>
                                    <a th:href="@{/registro/nuevo}" class="btn btn-light btn-block text-dark"><i class="fas fa-user-plus"></i> [[#{accion.registrar}]]</a>
                                    <a th:href="@{/registro/recordar}" class="btn btn-light btn-block text-dark"><i class="fas fa-envelope"></i> [[#{accion.recordar}]]</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div th:if="${param.error != null}" class="alert alert-danger mt-3 text-center">
                        <h3>[[#{error.login}]]</h3>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>

</html>